{{#each serializedUser as |user|}}
  <div class="card">
    <img src="..." class="card-img-top" alt="..." />

    <div class="'card-body">
      <h5 class="card-title">C{{user.username}}</h5>
      <p class="card-text">{{user.password}} </p>
      <a href="#" class="btn btn-primary">THIS IS THEIR ID! {{user.id}}</a>
    </div>
  </div>

  <div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-tex placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a
        href="#"
        tabindex="-1"
        class="btn btn-primary disabled placeholder col-6"
      ></a>
    </div>
  </div>
{{/each}}